* {
  /* border: 1px solid; */
}

body {
  font-family: 'Lato', sans-serif;  
  position: relative;
  background : rgba(53, 194, 180, 0.13);
}

.title {
  text-align: center;
  padding: 20px 0;
  color: turquoise;
}

h1 {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 5px 13px 4px grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-size: 26px;
  background: white;  
}

#grid {
  position: relative;
}

.box {
  width: calc((100vw - 80px) / 3);
  max-width: 150px;
  height: calc((100vw - 70px) / 3);
  max-height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
  line-height: calc((100vw - 70px) / 3);
  font-weight: 100;
}

.under_grid {
  position: absolute;
  height: calc(100vw - 40px);
  max-height: 480px;
  width: calc(100vw - 40px);
  max-width: 480px;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translatex(-50%);
  outline: rgb(53, 194, 180) solid 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 20px 13px 4px grey;
}

.players {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;  
  max-width: 530px;
  margin: 0 auto 50px;
}

.displayPlayers {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100px;
}

.colors {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 4px;
}

#hand2 {
  order : 2;
}

.cross {
  position: relative;
}

.cross--zindex{
  position: absolute;
  height: 100px;
  line-height: 95px;
  font-size: 120px;
  z-index: -1;
  width: 100%;
  text-align: center;
  opacity: .2;
  font-weight: 100;
}

.cross--color {
  color: blue;
}

.round--color {
  color: red;
}

#player1 {  
  background : rgb(255, 74, 74);
}

#player2 {  
  background : rgb(89, 89, 255);
}

.player {
  color: white;
  padding: 0 20px;
  margin: auto;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  order: 1;
  border-radius: 50px;
  border : 3px solid white;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 13px 4px grey;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hand {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

.svg1, .svg3 {
  width: 30px;
}

.modal1 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  max-width: 400px;
}

.modal-content1 {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: 50vh;
  background-color: #ffffffde;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 13px 4px grey;
}

.modal0, .modal2, .modal3 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content0, .modal-content2, .modal-content3 {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: 30vh;
  background-color: #ffffffde;
  color: black;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 5px 13px 4px grey;
}

.modal-content3 {
  width: 80vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  padding: 0;
}

.text {
  margin: 0 auto;
  width: auto;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #00C2AD;
  padding: 10px 20px;
  box-shadow: 0 5px 13px 4px grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

.text_honor {
  width: 100%;
  text-transform: uppercase;
}

#modalContent {
  text-align: center;
}

.Button_window_winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100%;
}

#messageEquality {
  text-align: center;
}

.namePlayers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.namePlayers input:first-child {
  margin-bottom: 5px;
}

#namePlayer2 {
  display: inline-block;
}

.form-select {
  display: inline-block;  
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.row_player {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  height: 45px;
}

.level {
  margin: 0 auto;
}

.btn_players {
  display: flex;
  flex-direction: column;
}

.btn_player {
  height: 45px;
  line-height: calc(66px/2);
  align-items: center;
  width: 80vw;
}

.formulaire {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
}

.name_player {
  border: 1px solid rgb(206,212,218);
}

input[type="text"]:focus {
  box-shadow: 0 0 0 4px rgba(13, 110, 253, .4);
  outline: none;
}

label {
  padding: 5px;
}

.btn_submit {
  margin-top: auto;
  text-align: end;
}

.button {
  text-align: center;
  padding: 20px;
  z-index: 100;
}

.btn {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 2px solid;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn:hover {
  border: 2px solid transparent;
  color: white;
}

.btn_start {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #35c2b4;  
  color: white;  
  border-color: 'transparent';
}

.btn_begin {
  background: #189fcc;
}

.btn_restart {
  margin-top: auto;
  margin-left: auto;
  background : red;
}

.btn_sound {
  position: absolute;
  top: 122px;
  right: 0;
  margin-right: 10px;
}
.btn_sound img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width : 530px){
  .box {
    line-height: 150px;
  }

  .text {
    font-size: 18px;
  }

  .btn_players {
    align-items: center;
  }

  .btn_sound {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
  }
  
  .btn_sound img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width : 768px){
  .title {
    padding: 30px 0;
  }
    
  .displayPlayers {
    flex-direction: row;
  }  
       
  .form-select {
    width: 75%;
    margin-bottom: 20px;
  }
    
  .level {
    margin: 0 auto;
  }                
}
    